header{
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 160px;
    box-shadow:  0px 3px 6px rgba(0, 0, 0, 0.160784);
    background-color: var(--dark-500-color);
    position: relative;
    .logo{
        width: 110px;
        height: 40px;
        cursor: pointer;
        >img{
            width: 100%;
            height: 100%;
        }
    }
}

nav {
    display: flex;
    >ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >.infor-item{
            position: relative;
        }
        >.nav-item{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-right: 28px;
            cursor: pointer;

            >a{
                color:white;
                >img{
                    width: 25px;
                    height: 30px;
                    margin-right: 5px;
                    position: relative;
                }
                >.badge{
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    min-width: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    top: -6px;
                    left: 19px;
                    background-color: var(--primary-400-color);
                    border-radius: 100%;
                    color: white;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;
                }
                >span{
                    color:white;
                    font-weight: 300;
                    font-size: 16px;
                }
            }
            
            &:first-child{
                >a{
                    >img{
                        width: 28px;
                        height: 30px;
                        margin-right: 5px;
                    }
                }
            }
            
        }
    }
}

.drawer{
    position: absolute;
    top: 64px;
    left: calc(100% - 475px);
    width: 280px;
    height: 432px;
    z-index: 9999;
    >.drawer-list{
        display: flex;
        flex-direction: column;
        >.drawer-item{
            background-color: #777777;
            padding: 23px 32px;
            font-weight: 300;
            font-size: 18px;
            line-height: 26px;
            border-bottom: 1px solid #2E2E2E;

            >a{
                color: white;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header{
        padding: 20px 50px !important;
    }
    nav{
        >ul{
            >.nav-item{
                >a{
                    >span{
                        display: none;
                    }
                }
            }
        }
    }
}