.home__banner--chart{
    width: 60%;
    >canvas{
        width: 100% !important;
        max-height: 400px;
    }
}
@media screen and (max-width: 768px) {
    .home__banner--chart{
        width: 100%;
        height: 300px;
        >.chart-component{
            width: 100%;
            height: 100%;
            >canvas{
                width: 100% !important;
            }
        }
    }
}